body {
  --sb-track-color: transparent;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 14px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  scrollbar-width: thin;
}


body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-button,
body::-webkit-scrollbar-button:up,
body::-webkit-scrollbar-button:down,
body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment,
body::-webkit-scrollbar-button:single-button {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}